body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-size: 14px;
}

@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}

canvas {
    display: block;
}

.button-container {
    position: absolute;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.button-container button, .button-container input {
    padding: 7px 14px;
    background-color: #222;
    color: #0ff;
    border: 2px solid #0ff;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
    flex: 1 1 auto;
    min-width: 100px;
}

.button-container button:hover, .button-container input:hover {
    background-color: #0ff;
    color: #222;
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
}

.button-container input {
    width: 200px;
}

.reset-button {
    width: 50px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 600px) {
    .button-container button, .button-container input {
        font-size: 12px;
        padding: 6px 12px;
    }
}